{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="create">
  <!-- https://johnfraney.ca/posts/2018/05/10/writing-reusable-modelform-templates-django/ -->
  <!-- <h2>{% if object %}Update{% else %}Create{% endif %} Author</h2> -->
  <h2>Alta de avalúos</h2>
  <!-- Nav tabs -->
  <br>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a
        class="nav-link"
        @click.prevent="setActive('solicitud')"
        :class="{ active: isActive('solicitud') }"
        id="solicitud-tab"
        href="#solicitud">Solicitud</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        @click.prevent="setActive('tipo')"
        :class="{ active: isActive('tipo') }"
        id="tipo-tab"
        href="#tipo">Tipo y complejidad del avalúo</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        @click.prevent="setActive('asignacion')"
        :class="{ active: isActive('asignacion') }"
        id="asignacion-tab"
        href="#asignacion">Asignación de colegio y aceptación</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        @click.prevent="setActive('documentacion')"
        :class="{ active: isActive('documentacion') }"
        id="documentacion-tab"
        href="#documentacion">Documentación entregada</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        @click.prevent="setActive('datos')"
        :class="{ active: isActive('datos') }"
        id="datos-tab"
        href="#datos">Datos generales del propietario</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        @click.prevent="setActive('visita')"
        :class="{ active: isActive('visita') }"
        id="visita-tab"
        href="#visita">Visita del bien</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        @click.prevent="setActive('entrega-avaluo')"
        :class="{ active: isActive('entrega-avaluo') }"
        id="entrega-avaluo-tab"
        href="#entrega-avaluo">Entrega del avalúo al cliente</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        @click.prevent="setActive('timeline')"
        :class="{ active: isActive('timeline') }"
        id="timeline-tab"
        href="#timeline">Timeline</a>
    </li>
  </ul>
  <br>
  <div class="tab-content" id="myTabContent">
    <!-- Solicitud tab -->
    <div class="tab-pane fade"
      :class="{ 'active show': isActive('solicitud') }"
      id="solicitud"
      role="tabpanel"
      aria-labelledby="solicitud-tab">

      <label><strong>Institución o cliente</strong></label>
      <form v-on:submit.prevent="addSolicitud()">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label class="d-inline-block" for="clientSelect">Cliente</label>
            <select name="clientSelect" class="form-control d-inline-block" v-model="nuevaSolicitud.cliente">
              <option v-for="item in clientes" v-bind:value="item.id">
                [[ item.cliente ]]
              </option>
            </select>
          </div>
          <div class="form-group col-md-1"></div>
          <div class="form-group col-md-7">
            <label>Tipo de persona</label>
            <div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" v-model="nuevaSolicitud.datos_cliente.persona" name="inlineRadioOptions" id="inlineRadio1" value="F">
                <label class="form-check-label" for="inlineRadio1">Persona física</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" v-model="nuevaSolicitud.datos_cliente.persona" name="inlineRadioOptions" id="inlineRadio2" value="M" checked>
                <label class="form-check-label" for="inlineRadio2">Persona moral</label>
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputNombreCliente">Nombre o razón social</label>
            <input type="text" v-model="nuevaSolicitud.datos_cliente.nombre" class="form-control" id="inputNombreCliente">
          </div>
          <div class="form-group col-md-4">
            <label for="inputPaternoCliente">Apellido paterno</label>
            <input type="text" v-model="nuevaSolicitud.datos_cliente.apellido_paterno" class="form-control" id="inputPaternoCliente">
          </div>
          <div class="form-group col-md-4">
            <label for="inputMaternoCliente">Apellido materno</label>
            <input type="text" v-model="nuevaSolicitud.datos_cliente.apellido_materno" class="form-control" id="inputMaternoCliente">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="inputRfcCliente">RFC</label>
            <input type="text" v-model="nuevaSolicitud.datos_cliente.rfc" class="form-control" id="inputRfcCliente">
          </div>
          <div class="form-group col-md-3">
            <label for="inputCurpCliente">CURP</label>
            <input type="text" v-model="nuevaSolicitud.datos_cliente.curp" class="form-control" id="inputCurpCliente">
          </div>
          <div class="form-group col-md-3">
            <label for="inputNssCliente">NSS</label>
            <input type="text" v-model="nuevaSolicitud.datos_cliente.nss" class="form-control" id="inputNssCliente">
          </div>
          <div class="form-group col-md-3">
            <label for="inputTelefonoCliente">Teléfono</label>
            <input type="phone" v-model="nuevaSolicitud.datos_cliente.telefono" class="form-control" id="inputTelefonoCliente">
          </div>
        </div>

        <hr>
        <label><strong>Información del mancomunado</strong></label>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="inputNombreMancomunado">Nombre</label>
            <input type="text" v-model="nuevaSolicitud.mancomunado.nombre" class="form-control" id="inputNombreMancomunado">
          </div>
          <div class="form-group col-md-3">
            <label for="inputRfcMancomunado">RFC</label>
            <input type="text" v-model="nuevaSolicitud.mancomunado.rfc" class="form-control" id="inputRfcMancomunado">
          </div>
          <div class="form-group col-md-3">
            <label for="inputTelefonoMancomunado">Teléfono</label>
            <input type="text" v-model="nuevaSolicitud.mancomunado.telefono" class="form-control" id="inputTelefonoMancomunado">
          </div>
          <div class="form-group col-md-3">
            <label for="inputCelularMancomunado">Celular</label>
            <input type="phone" v-model="nuevaSolicitud.mancomunado.celular" class="form-control" id="inputCelularMancomunado">
          </div>
        </div>

        <hr>
        <label><strong>Folios y fechas de solicitud</strong></label>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputFolio">Folio institución que originó el servicio</label>
            <input type="text" v-model="nuevaSolicitud.folio" class="form-control" id="inputFolio">
          </div>
          <div class="form-group col-md-4">
            <label for="inputFechaAsignacion">Fecha de asignación</label>
            <input type="date" v-model="nuevaSolicitud.fecha_asignacion" class="form-control" id="inputFechaAsignacion">
          </div>
          <div class="form-group col-md-4">
            <label for="inputFechaCompromiso">Fecha compromiso de entrega</label>
            <input type="date" v-model="nuevaSolicitud.fecha_compromiso" class="form-control" id="inputFechaCompromiso">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputFechaSolicitudCorreo">Fecha solicitud correo</label>
            <input type="date" v-model="nuevaSolicitud.fecha_solicitud_correo" class="form-control" id="inputFechaSolicitudCorreo">
          </div>
          <div class="form-group col-md-4">
            <label for="inputCredito">Crédito fiscal / Número de resolución</label>
            <input type="text" v-model="nuevaSolicitud.credito_fiscal" class="form-control" id="inputCredito">
          </div>
        </div>

        <hr>
        <label><strong>Datos del inmueble</strong></label>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="inputCp">CP</label>
            <input type="text" v-model="nuevaSolicitud.codigo_postal" class="form-control" id="inputCp">
          </div>
          <div class="form-group col-md-3">
            <label for="inputCalle">Calle</label>
            <input type="text" v-model="nuevaSolicitud.calle" class="form-control" id="inputCalle">
          </div>
          <div class="form-group col-md-3">
            <label for="inputExt">No. Ext</label>
            <input type="text" v-model="nuevaSolicitud.no_ext" class="form-control" id="inputExt">
          </div>
          <div class="form-group col-md-3">
            <label for="inputInt">No. Int</label>
            <input type="text" v-model="nuevaSolicitud.no_int" class="form-control" id="inputInt">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="inputColonia">Colonia</label>
            <input type="text" v-model="nuevaSolicitud.colonia" class="form-control" id="inputColonia">
          </div>
          <div class="form-group col-md-3">
            <label for="inputLote">Lote</label>
            <input type="text" v-model="nuevaSolicitud.lote" class="form-control" id="inputLote">
          </div>
          <div class="form-group col-md-3">
            <label for="inputManzana">Manzana</label>
            <input type="text" v-model="nuevaSolicitud.manzana" class="form-control" id="inputManzana">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="inputEstado">Estado</label>
            <input type="text" v-model="nuevaSolicitud.estado" class="form-control" id="inputEstado">
          </div>
          <div class="form-group col-md-3">
            <label for="inputMunicipio">Municipio</label>
            <input type="text" v-model="nuevaSolicitud.municipio" class="form-control" id="inputMunicipio">
          </div>
          <div class="form-group col-md-3">
            <label for="inputLocalidad">Localidad</label>
            <input type="text" v-model="nuevaSolicitud.localidad" class="form-control" id="inputLocalidad">
          </div>
          <div class="form-group col-md-3">
            <label for="localizadoSelect">Inmueble Localizado</label>
            <select name="localizadoSelect" class="form-control" v-model="nuevaSolicitud.localizado">
              <option value="Si">Si</option>
              <option value="No">No</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="inputTitular">Titular de ADR</label>
            <input type="text" v-model="nuevaSolicitud.titular_adr" class="form-control" id="inputTitular">
          </div>
          <div class="form-group col-md-3">
            <label for="inputLocalizacion">Localización (ADR)</label>
            <input type="text" v-model="nuevaSolicitud.localizacion_adr" class="form-control" id="inputLocalizacion">
          </div>
          <div class="form-group col-md-3">
            <label for="inputDomicilioAdr">Domicilio (ADR)</label>
            <input type="text" v-model="nuevaSolicitud.domicilio_adr" class="form-control" id="inputDomicilioAdr">
          </div>
          <div class="form-group col-md-3">
            <label for="inputAlr">ALR (Solicitante)</label>
            <input type="text" v-model="nuevaSolicitud.alr" class="form-control" id="inputAlr">
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Aceptar</button>
      </form>
    </div>
    <!-- End solicitud tab -->
    <div class="tab-pane fade" :class="{ 'active show': isActive('tipo') }" id="tipo">
      Tipo y complejidad del avalúo
    </div>
    <div class="tab-pane fade" :class="{ 'active show': isActive('asignacion') }" id="asignacion">
      Asignación de colegio y aceptación
    </div>
    <div class="tab-pane fade" :class="{ 'active show': isActive('documentacion') }" id="documentacion">
      Documentación entregada
    </div>
    <div class="tab-pane fade" :class="{ 'active show': isActive('datos') }" id="datos">
      Datos generales del propietario
    </div>
    <div class="tab-pane fade" :class="{ 'active show': isActive('visita') }" id="visita">
      Visita del bien
    </div>
    <div class="tab-pane fade" :class="{ 'active show': isActive('elaboracion') }" id="elaboracion">
      Elaboración del avalúo
    </div>
    <div class="tab-pane fade" :class="{ 'active show': isActive('revisiones') }" id="revisiones">
      Revisiones
    </div>
    <div class="tab-pane fade" :class="{ 'active show': isActive('entrega-avaluo') }" id="entrega-avaluo">
      Entrega del avalúo al cliente
    </div>
    <div class="tab-pane fade" :class="{ 'active show': isActive('entrega-factura') }" id="entrega-factura">
      Entrega de factura al cliente
    </div>
    <div class="tab-pane fade" :class="{ 'active show': isActive('expediente') }" id="expediente">
      Expediente
    </div>
    <div class="tab-pane fade" :class="{ 'active show': isActive('timeline') }" id="timeline">
      Timeline
    </div>
  </div>
</div>

{% endblock %}
{% block javascript %}
{{ block.super }}
<script>
var token = "{{ csrf_token }}";
var app = new Vue({
  delimiters: ['[[', ']]'],
  el: '#create',
  data: {
    csrf_token: token,
    clientes: '',
    nuevaSolicitud: {
      cliente: '',
      datos_cliente: {
        persona: '',
        nombre: '',
        apellido_paterno: '',
        apellido_materno: '',
        rfc: '',
        curp: '',
        nss: '',
        telefono: '',
      },
      mancomunado: {
        nombre: '',
        rfc: '',
        telefono: '',
        celular: ''
      },
      folio: '',
      fecha_asignacion: '',
      fecha_compromiso: '',
      fecha_solicitud_correo: '',
      credito_fiscal: '',
      codigo_postal: '',
      calle: '',
      no_ext: '',
      no_int: '',
      colonia: '',
      lote: '',
      manzana: '',
      estado: '',
      municipio: '',
      localidad: '',
      localizado: '',
      titular_adr: '',
      localizacion_adr: '',
      domicilio_adr: '',
      alr: '',
    },
    activeItem: 'solicitud',
  },
  mounted: function() {
    console.log(this.csrf_token);
    this.getClientes();
  },
  methods: {
    isActive (menuItem) {
      return this.activeItem === menuItem
    },
    setActive (menuItem) {
      this.activeItem = menuItem
    },
    getClientes: function() {
      axios.get('/api/cliente/')
        .then((response) => {
          this.clientes = response.data;
          console.log(this.clientes);
        })
        .catch((err) => {
          console.log(err);
        })
    },
    addSolicitud: function() {
      console.log(this.nuevaSolicitud);
      axios.post('/api/avaluo/', this.nuevaSolicitud, {'headers': {
        'X-CSRFToken': this.csrf_token,
        'Content-Type': 'application/json'
      }})
      .then((response) => {
        console.log(response);
      })
      .catch((err) => {
        console.log(err);;
      })
    }
  }
})
</script>
{% endblock javascript %}
