{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="create">
  <!-- https://johnfraney.ca/posts/2018/05/10/writing-reusable-modelform-templates-django/ -->
  <!-- <h2>{% if object %}Update{% else %}Create{% endif %} Author</h2> -->
  <h2>Alta de avalúos</h2>
  <!-- Nav tabs -->
  <br>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a
        class="nav-link"
        @click.prevent="setActive('solicitud')"
        :class="{ active: isActive('solicitud') }"
        id="solicitud-tab"
        href="#solicitud">Solicitud</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        @click.prevent="setActive('tipo')"
        :class="{ active: isActive('tipo') }"
        id="tipo-tab"
        href="#tipo">Tipo y complejidad del avalúo</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        @click.prevent="setActive('asignacion')"
        :class="{ active: isActive('asignacion') }"
        id="asignacion-tab"
        href="#asignacion">Asignación de colegio y aceptación</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        @click.prevent="setActive('documentacion')"
        :class="{ active: isActive('documentacion') }"
        id="documentacion-tab"
        href="#documentacion">Documentación entregada</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        @click.prevent="setActive('datos')"
        :class="{ active: isActive('datos') }"
        id="datos-tab"
        href="#datos">Datos generales del propietario</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        @click.prevent="setActive('visita')"
        :class="{ active: isActive('visita') }"
        id="visita-tab"
        href="#visita">Visita del bien</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        @click.prevent="setActive('entrega-avaluo')"
        :class="{ active: isActive('entrega-avaluo') }"
        id="entrega-avaluo-tab"
        href="#entrega-avaluo">Entrega del avalúo al cliente</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        @click.prevent="setActive('timeline')"
        :class="{ active: isActive('timeline') }"
        id="timeline-tab"
        href="#timeline">Timeline</a>
    </li>
  </ul>
  <br>
  <div class="tab-content" id="myTabContent">
    <!-- Solicitud tab -->
    <div class="tab-pane fade"
      :class="{ 'active show': isActive('solicitud') }"
      id="solicitud"
      role="tabpanel"
      aria-labelledby="solicitud-tab">

      <label><strong>Institución o cliente</strong></label>
      <form v-on:submit.prevent="addSolicitud()">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label class="d-inline-block" for="institución o cliente">Cliente</label>
            <div class="field" :class="{error: errors.has('institución o cliente')}">
              <div
                v-if="submitted && errors.has('institución o cliente')"
                class="invalid-feedback d-block">[[ errors.first('institución o cliente') ]]
              </div>
              <select
                name="institución o cliente"
                class="form-control d-inline-block"
                v-validate="'required'"
                v-model="nuevaSolicitud.cliente">
                <option v-for="item in clientes" v-bind:value="item.id">
                  [[ item.cliente ]]
                </option>
              </select>
            </div>
          </div>
          <div class="form-group col-md-1"></div>
          <div class="form-group col-md-7">
            <label>Tipo de persona</label>
            <div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  @change="onChangePersona($event)"
                  v-model="nuevaSolicitud.datos_cliente.persona"
                  name="inlineRadioOptions"
                  id="inlineRadio1"
                  value="F">
                <label class="form-check-label" for="inlineRadio1">Persona física</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  @change="onChangePersona($event)"
                  v-model="nuevaSolicitud.datos_cliente.persona"
                  name="inlineRadioOptions"
                  id="inlineRadio2"
                  value="M"
                  checked>
                <label class="form-check-label" for="inlineRadio2">Persona moral</label>
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputNombreCliente">Nombre o razón social</label>
            <input
              type="text"
              v-model="nuevaSolicitud.datos_cliente.nombre"
              class="form-control"
              id="inputNombreCliente">
          </div>
          <div class="form-group col-md-4">
            <label for="inputPaternoCliente">Apellido paterno</label>
            <input
              type="text"
              :readonly="nuevaSolicitud.datos_cliente.persona === 'M'"
              v-model="nuevaSolicitud.datos_cliente.apellido_paterno"
              class="form-control"
              id="inputPaternoCliente">
          </div>
          <div class="form-group col-md-4">
            <label for="inputMaternoCliente">Apellido materno</label>
            <input
              type="text"
              :readonly="nuevaSolicitud.datos_cliente.persona === 'M'"
              v-model="nuevaSolicitud.datos_cliente.apellido_materno"
              class="form-control"
              id="inputMaternoCliente">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="inputRfcCliente">RFC (<span v-text="maxRfc - nuevaSolicitud.datos_cliente.rfc.length"></span>)
              <div v-if="errors.has('rfc cliente')" class="invalid-feedback d-block">[[ errors.first('rfc cliente') ]]</div>
            </label>
            <input
              style="text-transform: uppercase;"
              type="text"
              v-validate="'min:'+maxRfc"
              @keyup.enter="emitValue(!required)"
              :maxlength="maxRfc"
              v-model="nuevaSolicitud.datos_cliente.rfc"
              class="form-control"
              name="rfc cliente"
              autocomplete="off"
              id="inputRfcCliente">
          </div>
          <div class="form-group col-md-3">
            <label for="inputCurpCliente">CURP</label>
            <input
              type="text"
              :readonly="nuevaSolicitud.datos_cliente.persona === 'M'"
              v-model="nuevaSolicitud.datos_cliente.curp"
              class="form-control"
              id="inputCurpCliente">
          </div>
          <div class="form-group col-md-3">
            <label for="inputNssCliente">NSS</label>
            <input type="text" v-model="nuevaSolicitud.datos_cliente.nss" class="form-control" id="inputNssCliente">
          </div>
          <div class="form-group col-md-3">
            <label for="inputTelefonoCliente">Teléfono
              <div
                v-if="errors.has('telefono cliente')"
                class="invalid-feedback d-block">[[ errors.first('telefono cliente') ]]
              </div>
            </label>
            <input
              type="tel"
              v-validate="'numeric|max:10'"
              @keyup.enter="emitValue(!required)"
              maxlength="10"
              v-model="nuevaSolicitud.datos_cliente.telefono"
              class="form-control"
              name="telefono cliente"
              autocomplete="nope"
              id="inputTelefonoCliente">
          </div>
        </div>

        <hr>
        <label><strong>Información del mancomunado</strong></label>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="inputNombreMancomunado">Nombre</label>
            <input type="text" v-model="nuevaSolicitud.mancomunado.nombre" class="form-control" id="inputNombreMancomunado">
          </div>
          <div class="form-group col-md-3">
            <label for="inputRfcMancomunado">RFC (<span v-text="maxRfcMancomunado - nuevaSolicitud.mancomunado.rfc.length"></span>)
              <div v-if="errors.has('rfc mancomunado')" class="invalid-feedback d-block">[[ errors.first('rfc mancomunado') ]]</div>
            </label>
            <input
              type="text"
              style="text-transform: uppercase;"
              v-validate="'min:'+maxRfcMancomunado"
              @keyup.enter="emitValue(!required)"
              :maxlength="maxRfcMancomunado"
              v-model="nuevaSolicitud.mancomunado.rfc"
              class="form-control"
              name="rfc mancomunado"
              autocomplete="off"
              id="inputRfcMancomunado">
          </div>
          <div class="form-group col-md-3">
            <label for="inputTelefonoMancomunado">Teléfono
              <div
                v-if="errors.has('telefono mancomunado')"
                class="invalid-feedback d-block">[[ errors.first('telefono mancomunado') ]]
              </div>
            </label>
            <input
              type="tel"
              v-validate="'numeric|max:10'"
              @keyup.enter="emitValue(!required)"
              maxlength="10"
              v-model="nuevaSolicitud.mancomunado.telefono"
              class="form-control"
              name="telefono mancomunado"
              autocomplete="nope"
              id="inputTelefonoMancomunado">
          </div>
          <div class="form-group col-md-3">
            <label for="inputCelularMancomunado">Celular
              <div
                v-if="errors.has('celular mancomunado')"
                class="invalid-feedback d-block">[[ errors.first('celular mancomunado') ]]
              </div>
            </label>
            <input
              type="tel"
              v-validate="'numeric|max:10'"
              @keyup.enter="emitValue(!required)"
              maxlength="10"
              v-model="nuevaSolicitud.mancomunado.celular"
              class="form-control"
              name="celular mancomunado"
              autocomplete="nope"
              id="inputCelularMancomunado">
          </div>
        </div>

        <hr>
        <label><strong>Folios y fechas de solicitud</strong></label>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputFolio">Folio institución que originó el servicio</label>
            <input type="text" v-model="nuevaSolicitud.folio" class="form-control" id="inputFolio">
          </div>
          <div class="form-group col-md-4">
            <label for="inputFechaAsignacion">Fecha de asignación</label>
            <input type="date" v-model="nuevaSolicitud.fecha_asignacion" class="form-control" id="inputFechaAsignacion">
          </div>
          <div class="form-group col-md-4">
            <label for="inputFechaCompromiso">Fecha compromiso de entrega</label>
            <input type="date" v-model="nuevaSolicitud.fecha_compromiso" class="form-control" id="inputFechaCompromiso">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputFechaSolicitudCorreo">Fecha solicitud correo</label>
            <input type="date" v-model="nuevaSolicitud.fecha_solicitud_correo" class="form-control" id="inputFechaSolicitudCorreo">
          </div>
          <div class="form-group col-md-4">
            <label for="inputCredito">Crédito fiscal / Número de resolución</label>
            <input type="text" v-model="nuevaSolicitud.credito_fiscal" class="form-control" id="inputCredito">
          </div>
        </div>

        <hr>
        <label><strong>Datos del inmueble</strong></label>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="inputCp">CP</label>
            <input type="text" v-model="nuevaSolicitud.codigo_postal" class="form-control" id="inputCp">
          </div>
          <div class="form-group col-md-3">
            <label for="inputCalle">Calle</label>
            <input type="text" v-model="nuevaSolicitud.calle" class="form-control" id="inputCalle">
          </div>
          <div class="form-group col-md-3">
            <label for="inputExt">No. Ext</label>
            <input type="text" v-model="nuevaSolicitud.no_ext" class="form-control" id="inputExt">
          </div>
          <div class="form-group col-md-3">
            <label for="inputInt">No. Int</label>
            <input type="text" v-model="nuevaSolicitud.no_int" class="form-control" id="inputInt">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="inputColonia">Colonia</label>
            <input type="text" v-model="nuevaSolicitud.colonia" class="form-control" id="inputColonia">
          </div>
          <div class="form-group col-md-3">
            <label for="inputLote">Lote</label>
            <input type="text" v-model="nuevaSolicitud.lote" class="form-control" id="inputLote">
          </div>
          <div class="form-group col-md-3">
            <label for="inputManzana">Manzana</label>
            <input type="text" v-model="nuevaSolicitud.manzana" class="form-control" id="inputManzana">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label class="d-inline-block" for="estadoSelect">Estado</label>
            <select @change="onChangeEstado($event)"name="estadoSelect" class="form-control d-inline-block" v-model="nuevaSolicitud.estado">
              <option v-for="estado in estados" v-bind:value="estado.id">
                [[ estado.nombre ]]
              </option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label class="d-inline-block" for="municipioSelect">Municipio</label>
            <select name="municipioSelect" class="form-control inline-block" v-model="nuevaSolicitud.municipio">
              <option v-for="municipio in municipios" v-bind:value="municipio.id">
                [[ municipio.nombre ]]
              </option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="inputLocalidad">Localidad</label>
            <input type="text" v-model="nuevaSolicitud.localidad" class="form-control" id="inputLocalidad">
          </div>
          <div class="form-group col-md-3">
            <label for="localizadoSelect">Inmueble Localizado</label>
            <select name="localizadoSelect" class="form-control" v-model="nuevaSolicitud.localizado">
              <option value="Si">Si</option>
              <option value="No">No</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="inputTitular">Titular de ADR</label>
            <!-- <input type="text" v-model="nuevaSolicitud.titular_adr" class="form-control" id="inputTitular"> -->
          </div>
          <div class="form-group col-md-3">
            <label for="inputLocalizacion">Localización (ADR)</label>
            <input type="text" v-model="nuevaSolicitud.localizacion_adr" class="form-control" id="inputLocalizacion">
          </div>
          <div class="form-group col-md-3">
            <label for="inputDomicilioAdr">Domicilio (ADR)</label>
            <input type="text" v-model="nuevaSolicitud.domicilio_adr" class="form-control" id="inputDomicilioAdr">
          </div>
          <div class="form-group col-md-3">
            <label for="inputAlr">ALR (Solicitante)</label>
            <input type="text" v-model="nuevaSolicitud.alr" class="form-control" id="inputAlr">
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Aceptar</button>
      </form>
    </div>
    <!-- End solicitud tab -->
    <div class="tab-pane fade" :class="{ 'active show': isActive('tipo') }" id="tipo">
      Tipo y complejidad del avalúo
    </div>
    <div class="tab-pane fade" :class="{ 'active show': isActive('asignacion') }" id="asignacion">
      Asignación de colegio y aceptación
    </div>
    <div class="tab-pane fade" :class="{ 'active show': isActive('documentacion') }" id="documentacion">
      Documentación entregada
    </div>
    <div class="tab-pane fade" :class="{ 'active show': isActive('datos') }" id="datos">
      Datos generales del propietario
    </div>
    <div class="tab-pane fade" :class="{ 'active show': isActive('visita') }" id="visita">
      Visita del bien
    </div>
    <div class="tab-pane fade" :class="{ 'active show': isActive('elaboracion') }" id="elaboracion">
      Elaboración del avalúo
    </div>
    <div class="tab-pane fade" :class="{ 'active show': isActive('revisiones') }" id="revisiones">
      Revisiones
    </div>
    <div class="tab-pane fade" :class="{ 'active show': isActive('entrega-avaluo') }" id="entrega-avaluo">
      Entrega del avalúo al cliente
    </div>
    <div class="tab-pane fade" :class="{ 'active show': isActive('entrega-factura') }" id="entrega-factura">
      Entrega de factura al cliente
    </div>
    <div class="tab-pane fade" :class="{ 'active show': isActive('expediente') }" id="expediente">
      Expediente
    </div>
    <div class="tab-pane fade" :class="{ 'active show': isActive('timeline') }" id="timeline">
      Timeline
    </div>
  </div>
</div>

{% endblock %}
{% block javascript %}
{{ block.super }}
<script>
var token = "{{ csrf_token }}";
Vue.use(VeeValidate, {locale: 'es'});
var app = new Vue({
  delimiters: ['[[', ']]'],
  el: '#create',
  data: {
    maxRfc: 12,
    maxRfcMancomunado: 12,
    csrf_token: token,
    clientes: '',
    estados: '',
    municipios: '',
    nuevaSolicitud: {
      cliente: '',
      datos_cliente: {
        persona: 'M',
        nombre: '',
        apellido_paterno: '',
        apellido_materno: '',
        rfc: '',
        curp: '',
        nss: '',
        telefono: '',
      },
      mancomunado: {
        nombre: '',
        rfc: '',
        telefono: '',
        celular: ''
      },
      folio: '',
      fecha_asignacion: undefined,
      fecha_compromiso: undefined,
      fecha_solicitud_correo: undefined,
      credito_fiscal: '',
      codigo_postal: '',
      calle: '',
      no_ext: '',
      no_int: '',
      colonia: '',
      lote: '',
      manzana: '',
      estado: '',
      municipio: '',
      localidad: '',
      localizado: '',
      // titular_adr: '',
      localizacion_adr: '',
      domicilio_adr: '',
      alr: '',
    },
    activeItem: 'solicitud',
    submitted: false,
  },
  mounted: function() {
    this.getClientes();
    this.getEstados();
  },
  methods: {
    isActive (menuItem) {
      return this.activeItem === menuItem
    },
    setActive (menuItem) {
      this.activeItem = menuItem
    },
    getClientes: function() {
      axios.get('/api/cliente/')
        .then((response) => {
          this.clientes = response.data;
        })
        .catch((err) => {
          console.log(err);
        })
    },
    getEstados: function() {
      axios.get('/api/estado/')
        .then((response) => {
          this.estados = response.data;
        })
        .catch((err) => {
          console.log(err);
        })
    },
    getMunicipios: function(estadoId) {
      axios.get('/api/estado/' + estadoId + '/municipios/')
        .then(response => {
          this.municipios = response.data;
        })
        .catch(error => {
          console.log(err);
        });
    },
    onChangeEstado: function(event) {
      this.getMunicipios(event.target.value);
      this.nuevaSolicitud.municipio = '';
    },
    onChangePersona: function(event) {
      var tipoPersona = event.target.value;
      this.nuevaSolicitud.datos_cliente.rfc = '';
      if (tipoPersona === 'F') {
        this.maxRfc = 13;
      } else if (tipoPersona === 'M') {
        this.maxRfc = 12;
        this.nuevaSolicitud.datos_cliente.apellido_paterno = '';
        this.nuevaSolicitud.datos_cliente.apellido_materno = '';
        this.nuevaSolicitud.datos_cliente.curp = '';
      }
    },
    addSolicitud: function() {
      this.$validator.validate().then(result => {
        this.submitted = true;
        if (!result) {
            return;
        };
        this.nuevaSolicitud.datos_cliente.rfc = this.nuevaSolicitud.datos_cliente.rfc.toUpperCase();
        this.nuevaSolicitud.mancomunado.rfc = this.nuevaSolicitud.mancomunado.rfc.toUpperCase();
        axios.post('/api/avaluo/', this.nuevaSolicitud, {'headers': {
          'X-CSRFToken': this.csrf_token,
          'Content-Type': 'application/json'
        }})
        .then((response) => {
          console.log(response);
        })
        .catch((err) => {
          console.log(err);
        })
      });
    }
  }
})
</script>
{% endblock javascript %}
