{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div id="create">
  <h2>Alta de avalúos</h2>
  <!-- Nav tabs -->
  <br>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a
        class="nav-link"
        @click.prevent="setActive('solicitud')"
        :class="{ active: isActive('solicitud') }"
        id="solicitud-tab"
        href="#solicitud">Solicitud</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        @click.prevent="setActive('tipo')"
        :class="{ active: isActive('tipo') }"
        id="tipo-tab"
        href="#tipo">Tipo y complejidad del avalúo</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        @click.prevent="setActive('asignacion')"
        :class="{ active: isActive('asignacion') }"
        id="asignacion-tab"
        href="#asignacion">Asignación de colegio y aceptación</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        @click.prevent="setActive('documentacion')"
        :class="{ active: isActive('documentacion') }"
        id="documentacion-tab"
        href="#documentacion">Documentación entregada</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        @click.prevent="setActive('datos')"
        :class="{ active: isActive('datos') }"
        id="datos-tab"
        href="#datos">Datos generales del propietario</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        @click.prevent="setActive('visita')"
        :class="{ active: isActive('visita') }"
        id="visita-tab"
        href="#visita">Visita del bien</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        @click.prevent="setActive('entrega-avaluo')"
        :class="{ active: isActive('entrega-avaluo') }"
        id="entrega-avaluo-tab"
        href="#entrega-avaluo">Entrega del avalúo al cliente</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        @click.prevent="setActive('timeline')"
        :class="{ active: isActive('timeline') }"
        id="timeline-tab"
        href="#timeline">Timeline</a>
    </li>
  </ul>
  <br>
  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade"
      :class="{ 'active show': isActive('solicitud') }"
      id="solicitud"
      role="tabpanel"
      aria-labelledby="solicitud-tab">
      <form action="" method="POST">
        <p>Institución o cliente</p>
        {% crispy cliente_form %}
        {% crispy datoscliente_form %}
        <hr>
        <p>Información del mancomunado</p>
        {% crispy mancomunado_form %}
        <hr>
        <p>Folios y fechas de solicitud</p>
        {% crispy avaluo1_form %}
        <hr>
        <p>Datos del inmueble</p>
        {% crispy avaluo2_form %}
        <button type="submit" class="btn btn-success">Aceptar</button>
      </form>
    </div>
    <div class="tab-pane fade" :class="{ 'active show': isActive('tipo') }" id="tipo">
      Tipo y complejidad del avalúo
    </div>
    <div class="tab-pane fade" :class="{ 'active show': isActive('asignacion') }" id="asignacion">
      Asignación de colegio y aceptación
    </div>
    <div class="tab-pane fade" :class="{ 'active show': isActive('documentacion') }" id="documentacion">
      Documentación entregada
    </div>
    <div class="tab-pane fade" :class="{ 'active show': isActive('datos') }" id="datos">
      Datos generales del propietario
    </div>
    <div class="tab-pane fade" :class="{ 'active show': isActive('visita') }" id="visita">
      Visita del bien
    </div>
    <div class="tab-pane fade" :class="{ 'active show': isActive('elaboracion') }" id="elaboracion">
      Elaboración del avalúo
    </div>
    <div class="tab-pane fade" :class="{ 'active show': isActive('revisiones') }" id="revisiones">
      Revisiones
    </div>
    <div class="tab-pane fade" :class="{ 'active show': isActive('entrega-avaluo') }" id="entrega-avaluo">
      Entrega del avalúo al cliente
    </div>
    <div class="tab-pane fade" :class="{ 'active show': isActive('entrega-factura') }" id="entrega-factura">
      Entrega de factura al cliente
    </div>
    <div class="tab-pane fade" :class="{ 'active show': isActive('expediente') }" id="expediente">
      Expediente
    </div>
    <div class="tab-pane fade" :class="{ 'active show': isActive('timeline') }" id="timeline">
      Timeline
    </div>
  </div>
</div>

{% endblock %}
{% block javascript %}
{{ block.super }}
<script>
var app = new Vue({
  delimiters: ['[[', ']]'],
  el: '#create',
  data: {
    activeItem: 'solicitud',
  },
  methods: {
    isActive (menuItem) {
      return this.activeItem === menuItem
    },
    setActive (menuItem) {
      this.activeItem = menuItem
    }
  }
})
</script>
{% endblock javascript %}
