{% extends "base.html" %}
{% load static %}

{% block css %}
{{ block.super }}

<style type="text/css">
  .VueTables__search-field {
      display: flex;
  }
  .VueTables__limit-field {
      display: flex;
  }
</style>
{% endblock css %}

{% block content %}

<div id="list">
  <h2>Lista de avalúos registrados</h2>
  <br>
  <v-client-table v-model="avaluos" :columns="columns" :options="options"/>
  </v-client-table>
</div>

{% endblock content %}

{% block javascript %}
{{ block.super }}

<script>
Vue.use(VueTables.ClientTable, {}, false, 'bootstrap4');
var app = new Vue({
  delimiters: ['[[', ']]'],
  el: '#list',
  data: {
    columns: ['id', 'cliente.cliente'],
    options: {
      headings: {
        theme: 'bootstrap4',
        template: 'default',
        id: 'Id',
        'cliente.cliente' : 'Cliente',
      },
    },
    avaluos: []
  },
  mounted: function() {
    this.getAvaluos();
  },
  methods: {
    getAvaluos: function() {
      axios.get('/api/avaluo/')
        .then((response) => {
          this.avaluos = response.data;
        })
        .catch((err) => {
          console.log(err);
        })
    }
  }
})

</script>

{% endblock javascript %}
